.topHead-1{
    
}
.topHead-2{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 31px;
  top: 42px;
}
.logo {
  position: absolute;
}
.select{
  margin-left: auto;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: transparent;
  padding: 4px 8px;
  color: white;
  font-size: 16px;
  margin: 2px 5px;
  font-weight: 600;
}
.login{
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: transparent;
    padding: 4px 8px;
    color: white;
    font-size: 16px;
    margin: 2px 5px;
    font-weight: 600;
}
.registration{
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: transparent;
    padding: 4px 8px;
    color: white;
    font-size: 16px;
    margin: 2px 5px;
    font-weight: 600;
}
.top-2{
    background-color: black;
}
.top-2-part {
  margin-top: 3px;
  padding: 50px 17px;
}
.top-2-part-left{
    color: white;
    padding: 8% 0%
}
.top-2-part-right{
  position: relative;
}
#gif-2{
  position: absolute;
    z-index: 1;
    left: 15%;
    top: 21%

}
.top-3{
    background-color: black;
}
.top-3-part{
    margin-top: 3px;
    padding: 50px 0px;
}
.top-3-part-right{
    color: white;
    padding: 8% 20px;
}
.top-4{
    background-color: black;
}
.top-4-part{
    margin-top: 3px;
    padding: 50px 20px;
}
.top-4-part-left{
    color: white;
    padding: 8% 0%
}
.top-4-part-right{
  position: relative;
   z-index: 1;
}
#gif-4{
  position: absolute;
    top: 16%;
    left: 23%;
}
.top-5{
    background-color: black;
}
.top-5-part{
    margin-top: 3px;
    padding: 50px 0px;
}
.top-5-part-right{
    color: white;
    padding: 8% 20px;
}
.form-1{
  background-color: black;
  margin-top: 3px;
}
.form-2{
  background-color: black;
    color: white; 
}
#lhed{
  margin: 4% auto 2% auto;
}
.asked{
  border: 1px solid rgb(75, 73, 73)e;
  background-color: rgb(75, 73, 73);
  font-size: 33px;
  font-family: sans-serif;
  font-weight: 600;
  padding: 1% 3%;
  margin-top: 1%;
  color: black;
}
.lh{
  margin: 4% auto 2% auto;
}
.btm{
  padding: 1%;
    height: 48px;
    border: 1px solid red;
    background: red;
    color: white;
    padding: 1%;
    font-weight: 700;
}
.footer-1{
  background-color: black;
  margin-top: 3px;
}
.footer{
  padding: 65px 0px;
  color: rgb(136, 135, 135);
}
#low-h{
  margin: auto auto 27px 8%;
}
.foot{
  font-size: 15px;
  font-family: sans-serif;
  margin-top: 15px;
}
.elect{
  border: 2px solid rgb(136, 135, 135);
    background-color: transparent;
    padding: 4px 11px;
    color: rgb(136, 135, 135);
    font-size: 13px;
    font-weight: 500;
}
.namlowere{
  color: rgb(136, 135, 135);
}
@media screen and (max-width:650px ) {
  /* .logo{
    margin-left: 15px;
  }
  h1{
    font-size: 30px;
  font-weight: 500;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  } */
  #title{
    top: 185px;
  }
  #bg_img, .overlay{
    height:535px; 
  }
  .top-2-part-left , .top-4-part-left{
    order: 2;
  }
  .form-2{
    display: flex;
    flex-direction: row;
  }
  #low-h {
    margin: 17px auto;
    font-size: 13px;
  }
  .foot{
    margin: 0%;
    padding: 3px ;
    font-size: 10px;
  }
  .elect{
    border: 0.5px solid rgb(136, 135, 135);
    padding: 0px;
    font-size: 8px;
    font-weight: 400;
  }
  .asked{
    font-size: 25px;
  }
  .btm {
    height: 72px;
  }
}