
.nav-ul{
    display: flex;
    justify-content: flex-start;
    background-color: rgb(242, 241, 247);
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0%;
    /* background: linear-gradient( to right rgba(4, 4, 4, 0.984) , whitesmoke );
     */
     /* background-color: rgba(240, 190, 98, 0.86); */
}
.logoNav{
    list-style: none;
    margin-right: auto;
}
.nav-li{
    list-style: none;
    margin: 0px 25px;
    font-family: sans-serif;
    font-weight: 700;
    color: whitesmoke;
    padding: 7px;
    
}
/* .content{
    text-align: center;
} */
.topImg{
    width: 100%;
    height: 500px;
  }
 /* .contents{
    border: 1px solid transparent;
    width: 70%;
    margin-left: 72px; }*/
 
 .dataName{
    color: rgba(233, 143, 27, 0.938);
    text-align: end;
    margin-top: 100px ;
    margin-right: 19px;
 }
 .dataDiv{
    background-color: rgba(36, 30, 30, 0.932);
    display: flex;
 }
 .imgs{
    margin: 100px 50px;
    width: 350px;
    height: 450px;
 }
 .dataRating{
    margin: 19px 19px;
    color: antiquewhite;
    text-align: end;
}
.datasummery{
    margin-top: 70px;
    margin-left: 72px;
    margin-right: 19px;
    text-align: 0;
    color: antiquewhite;
}